 html,body{
   background-color: #fff;
   height: 100%;
 }
 .codeConfirm{
   .weui-dialog__ft{
     line-height: 43px;
     font-size: 14px;
     .weui-dialog__btn_default{
       color: #333;
     }
    .weui-dialog__btn_primary{
      background:linear-gradient(136deg,rgba(66,179,249,1) 0%,rgba(31,124,240,1) 100%);
      color: #fff;
    }
   }
 }
 .form_box{
      .code_box{
        .code{
          input{
            padding-right: 30%;
          }
        }
      }
 }
 .xieyi{
   .weui-icon{
     font-size: 14px;
     &:before{
       color: #1F7CF0!important;
    }
   }
 }

.vux-slider{
    height: 100%
  }
.vux-check-icon > span{
  font-size: 14px;
  color: #333!important;
  line-height: 18px!important;
}
.vux-popup-header-right{
  color: #42B3F9!important;
}
.filter_box{
  .weui-cells{
    margin: 0;
    &::before{
      border-top: none;
    }
    &:after{
      border-bottom: 2px solid #D9D9D9; /* no */
    }
  }
}
 @media (max-width:414px) {

 }
 @media (max-width:411px) {
  .codeConfirm{
    .weui-dialog__ft{
      line-height: 44px
    }
  }
 }
 @media (max-width:375px) {
  .codeConfirm{
      .weui-dialog__ft{
        line-height: 44px
      }
    }
 }
 @media (max-width:360px) {
  .codeConfirm{
      .weui-dialog__ft{
        line-height: 43px
      }
    }
 }
 @media (max-width:320px) {
  .codeConfirm{
      .weui-dialog__ft{
        line-height: 43px
      }
    }
 }